<% board.pins.each do |pin| %>
  <div class="box">
    <div class="boxInner">
    <form method="POST" action="<%= pin.id %>" class="pin-action">
      <input name="value" value="<%= pin.value %>" type="hidden"/>
      <button id="pin-<%= pin.id %>" type="submit" value="Setzen" class="button <%= 1 == pin.value ? 'on' : 'off' %>">
        <div class="titleBox"><%= pin %></div>
      </button>
    </form>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  //<![CDATA[
  $(".pin-action").submit(function(event){
    event.preventDefault();

    var form = $(this),
    value = form.find("input[name='value']").val(),
    url = form.attr("action");

    $.post(url, {value: value}, function(response){
        update(response);
      }, 'json')
      .fail(function (jqXHR, textStatus, errorThrown){
        console.error(textStatus + " posting form: " + errorThrown);
        $("#status").append( "<p>content 3</p>" );
      });
  });

  function poll_pins(){
    if ($("#polling").is(':checked')){
      request = $.getJSON("/");

      request.fail(function (jqXHR, textStatus, errorThrown){
        console.error(textStatus + " fetching status: " + errorThrown);
      });

      request.done(function(response, textStatus, jqXHR){
        update(response);
      });

      setTimeout(poll_pins, 1000);
    }
  }

  $("#polling").change(function(event) {
    $(poll_pins);
  });

  $(function(){
    $(poll_pins);
  });

  function update(response){
    // console.debug(response);
    $.each(response, function(id, value){
      set_pin(id, value);
    });
  }

  function set_pin(id, value){
    var pin = $("#pin-" + id)
    var msg = "Pin " + id + " = " + value;

    if (1 == value)
      pin.addClass("on").removeClass("off");
    else
      pin.addClass("off").removeClass("on");
  }
  //]]>
</script>
